@model Library_Automation.Entities.Model.Duyurular
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@Html.Partial("_PartialDuyuru", Model)
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/jquery/dist/jquery.min.js"></script>
<script src="~/AdminDashboard/admincast-master/html/dist/assets/vendors/moment/min/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

<script>
function Listele() {
        $.ajax({
            type: 'get',
            url: '@Url.Action("DuyuruList")',
            success: function (data) {
                $('#tbl tbody').html('');
                $.each(data, function (index, item) {
                    var milisecond = parseInt(item.Tarih.substr(6));
                    var formattedDate = moment(milisecond).format('DD.MM.YYYY HH:mm:ss');
                    var row = '<tr> <th><input type="checkbox" class="recordCheckbox" data-id="' + item.Id + '"  /></th><th>' + item.Id + '</th><td>'
                        + item.Baslik + '</td><td>'
                        + item.Duyuru + '</td><td>'
                        + item.Aciklama + '</td><td>'
                        + formattedDate + '</td><td>'
                        + '<a href= # class="btnDuzenle btn btn-warning btn-sm" data-id=' + item.Id + '><i class="fa fa-edit"></i></a> |'
                        + '<a href=Duyurular/Detail/ ' + item.Id + ' class="btn btn-info btn-sm"><i class="fa fa-info"></i></a> |'
                        + '<a href=# data-id="' + item.Id + '" class="btnDelete btn btn-danger btn-sm"><i class="fa fa-trash"></i></a> |'
                        ' </td ></tr > ';
                    $('#tbl tbody').append(row);

                });
            },
            error: function(error){
            console.log(error);
            }

        })
    }

</script>
<script>
    $(document).ready(function () {
        Listele();
    })
</script>


<script>
    $(document).ready(function () {
        $('#data-form').submit(function (e) {
            e.preventDefault();
            var formData = $(this).serialize();
            $.ajax({
                method: 'post',
                url: '@Url.Action("AddAnnouncement")',
                data: formData,
                success: function (result) {
                    if (result.success) {

                        Listele();
                        $('#dataModal').modal('hide');
                        alert(result.message);
                        Clear();
                    }
                    else {
                        $.each(result.errors, function (key, value) {

                            $('[data-valmsg-for="' + key + '"]').text(value[0]);
                            $('[data-valmsg-for="' + key + '"]').text('');

                        });

                    }
                }
            });

        });
    });
</script>

<script>
    $(document).on('click', '.btnDuzenle', function () {
        var Id = $(this).data('id');
        $('#dataModalLabel').html(Id + '   is No for Updating')
        $.ajax({
            url: '@Url.Action("GetAnnouncement")',
            type: 'get',
            dataType: 'json',
            data: { Id: Id },
            success: function (result) {
                $('#dataModal').modal('show');
                $('#txtId').val(result.Id);
                $('#txtBaslik').val(result.Baslik);
                $('#txtDuyuru').val(result.Duyuru);
                $('#txtAciklama').val(result.Aciklama);

                var timestamp = parseInt(result.Tarih.replace("/Date(", "").replace(")/", ""));
                var serverDate = new Date(timestamp);
                var correctedDate = new Date(serverDate.getTime() - serverDate.getTimezoneOffset() * 60000);
                var formattedDate = correctedDate.toISOString().slice(0, 16);

                $('#txtTarih').val(formattedDate);

            },
            error: function () {
                alert('An error occured.')
            }
        })
    })
</script>

<script>
    function Clear() {
        $('#data-form').trigger('reset');
        $('#dataModalLabel').html('Adding Announcement Page');
        $('#txtId').val('0');
    }
</script>

<script>
    function Add() {
        Clear();
    }
</script>

<script>
    $(document).on('click', '.btnDelete', function () {
        var Id = $(this).data('id');
        $.ajax({
            type: 'get',
            url: '/Duyurular/GetAnnouncement/',
            data: { Id: Id },
            success: function (result) {
                var timestamp = parseInt(result.Tarih.replace("/Date(", "").replace(")/", ""));
                var serverDate = new Date(timestamp);
                var correctedDate = new Date(serverDate.getTime() - serverDate.getTimezoneOffset() * 60000);
                var formattedDate = correctedDate.toISOString().slice(0, 16);

                Swal.fire({
                    title: "Are you sure?",
                    html: '<b>Id:</b> ' + result.Id +
                        '<br/><b>Title: </b>' + result.Baslik +
                        '<br/><b>Announcement: </b>' + result.Duyuru +
                        '<br/><b>Description: </b>' + result.Aciklama +
                        '<br/><b>Date: </b>' + formattedDate,
                    icon: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel it!"
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            type: 'post',
                            url: '/Duyurular/DeleteAnnouncement/',
                            data: { Id: Id },
                            success: function () {
                                Listele();
                                Clear();
                                Swal.fire({
                                    title: "Deleted!",
                                    text: "Your file has been deleted.",
                                    icon: "success"
                                });
                            },
                            error: function () {
                                alert('Delete operation is not completed.');
                            }
                        });
                    }
                });
            },
            error: function () {
                alert('An error occurred while fetching the announcement.');
            }
        });
    });
</script>

<script>
    $(document).on('click', '#tdCheck', function () {
        if ($(this).is(' :checked')) {
            $('.recordCheckbox').prop('checked', true);
        }
        else {
            $('.recordCheckbox').prop('checked', false);
        }
    })
</script>

<script>
    $(document).on('click', '#DeleteButton', function () {
        var selectedIds = [];
        $('.recordCheckbox:checked').each(function () {
            selectedIds.push($(this).data('id'));
        });

        if (selectedIds.length > 0) {
            Swal.fire({
                title: "Are you sure?",
                icon: "warning",
                html: 'Numbers to be deleted </br>' + selectedIds.join(', '),
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!",
                cancelButtonText: "No, cancel it!"
            }).then((result) => {
                if (result.isConfirmed) {
                    $.ajax({
                        type: 'post',
                        url: '/Duyurular/DeleteSelectedAnnouncement/',
                        traditional: true, // ensures proper array serialization
                        data: { selectedIds: selectedIds },
                        success: function () {
                            $('.recordCheckbox:checked').closest('tr').remove();
                            Swal.fire({
                                title: "Deleted!",
                                text: "Your file has been deleted.",
                                icon: "success"
                            });
                        },
                        error: function () {
                            alert('An error occurred.');
                        }
                    });
                }
            });
        } else {
            Swal.fire("No selection", "Please select at least one record to delete.", "info");
        }
    });
</script>
